* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;         
  top: 0;
  width: 100%;             
  background-color:lightskyblue;  
  color:white;             
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px ;
    }

.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
}
